@(customer:CustomerModels.Customer, phonenumber:CustomerModels.PhoneNumber)
<!DOCTYPE html>
<html lang="en">
<head>
 @bootstrap.render
    <title></title>
</head>
<body>
@navbar.render
<div class="container">
    <h1 class="display-4 text-center">Customer Detail</h1>
    <div class="row">
        <div class="col-2 border-top border-right text-center">
            @sidebar.render
        </div>
        <div class="col-8 border-top text-center">
            <h3>@customer.getFirstName @customer.getLastName</h3>
            @customer.getAddress<br>
            @customer.getCity, @customer.getStateId @customer.getZipCode<br>
            @customer.getEmail<br>
            @phonenumber.getAreaCode-@phonenumber.getNumPrefix-@phonenumber.getPhoneAddress
            <br>
            <br>
            Customer Notes:<br>
            @customer.getNotes
            <br><br>
            <a href="../editcustomer/@customer.getCustomerId"  class="btn btn-primary" role="button">Edit Customer</a><br><br>
            <a href="../newRepair/@customer.getCustomerId" class="btn btn-primary" role="button">New Repair</a>
            <a href="../repairhistory/@customer.getCustomerId"  class="btn btn-primary" role="button">Repairs</a><br><br>
            <a href="../newCustom/@customer.getCustomerId" class="btn btn-primary" role="button">New Custom Job</a>
            <a href="../customhistory/@customer.getCustomerId" class="btn btn-primary" role="button">Custom Jobs</a>
        </div>
    </div>

</div>

</body>
</html>