@(states:List[CustomerModels.CityState],customer:CustomerModels.Customer,
number:CustomerModels.PhoneNumber, cities:List[CustomerModels.Cities])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    @bootstrap.render
    <title>New Customer</title>
</head>
<body>
@navbar.render
<div class="container">
    <h1 class="display-4 text-center">Edit Customer</h1>
    <div class="row">
        <div class="col-2 border-right border-top text-center">
            @sidebar.render
        </div>
        <div class="col-10 border-top">
            <form method="post">
                @CSRF.formField
                First Name: <input type="text" name="firstName" id="firstName" pattern="[A-Za-z]{1,}" value="@customer.getFirstName" maxlength="20" required>
                <br>
                Last Name: <input type="text" name="lastName" id="lastName" pattern="[A-Za-z]{1,}" value="@customer.getLastName" maxlength="20">
                <br>
                Phone Number:<input type="text" name="areaCode" id="areaCode" pattern="[0-9]{3}" value="@number.getAreaCode" minlength="3" maxlength="3">
                <input type="text" name="numPrefix" id="numPrefix" pattern="[0-9]{3}" value="@number.getNumPrefix" minlength="3" maxlength="3">
                <input type="text" name="phoneAddress" id="phoneAddress" pattern="[0-9]{4}" value="@number.getPhoneAddress" minlength="3" maxlength="4">
                <br>
                Address: <input type="text" name="address" id="address" value="@customer.getAddress" maxlength="40">
                <br>
                City/State:
                <select name="stateId" class="cascadingDropDown" data-group="product-1" data-id="stateId" data-target="city"
                        data-url="/../newCustomer/cities" data-replacement="container1">
                    <option value="">Select State</option>
                    @for(state <- states){
                    @if(state.getStateId==customer.getStateId){
                    <option selected="selected">@customer.getStateId</option>
                    }else{
                    <option>@state.getStateId</option>
                    }
                    }
                </select>
                <select name="city" class="cascadingDropDown" data-group="product-1" data-id="city"
                        data-replacement="container1" data-default-label="@customer.getCity">
                    <option selected="selected" value="@customer.getCity">@customer.getCity</option>
                    @for(city <-cities){
                    @if(customer.getStateId==city.getStateId){
                    <option value="@city.getCity">@city.getCity</option>
                    }
                    }

                </select>
                Zip-Code: <input type="text" name="zipCode" pattern="[0-9]{5}"value="@customer.getZipCode" minlength="5" maxlength="5">
                <br>
                E-Mail Address:<input type="text" name="email" id="email" value="@customer.getEmail" maxlength="40">
                <br>
                Notes: <textarea name="notes" id="notes"  maxlength="500">@customer.getNotes</textarea>
                <br>
                <button type="submit">Save Changes</button><button data-href="../customers">Cancel</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/javascripts/cascading-drop-down.js"></script>
</body>
</html>