@(states:List[CustomerModels.CityState])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    @bootstrap.render
    <title>New Customer</title>
</head>
<body>
@navbar.render
<div class="container">
    <h1 class="display-4 text-center">New Customer</h1>
    <div class="row">
        <div class="col-2 border-right border-top text-center">
            @sidebar.render
        </div>
        <div class="col-10 border-top">
            <form method="post">
                @CSRF.formField
                First Name: <input type="text" name="firstName" id="firstName" pattern="[A-Za-z]{1,}" maxlength="20" required>
                <br>
                Last Name: <input type="text" name="lastName" id="lastName" pattern="[A-Za-z]{1,}" maxlength="20" required>
                <br>
                Phone Number:<input type="text" name="areaCode" id="areaCode" pattern="[0-9]{3}" maxlength="3" required>
                <input type="text" name="numPrefix" id="numPrefix" pattern="[0-9]{3}" maxlength="3" required>
                <input type="text" name="phoneAddress" id="phoneAddress" pattern="[0-9]{4}" maxlength="4" required>
                <br>
                Address: <input type="text" name="address" id="address"  maxlength="40" required>
                <br>
                City/State:
                <select name="stateId" class="cascadingDropDown" data-group="product-1" data-id="stateId" data-target="city"
                        data-url="newCustomer/cities" data-replacement="container1" required>
                    <option value="">Select State</option>
                    @for(state <- states){
                    <option>@state.getStateId</option>
                    }
                </select>
                <select name="city" class="cascadingDropDown" data-group="product-1" data-id="city"
                        data-replacement="container1" data-default-label="Select City" disabled required>
                </select>
                Zip-Code: <input type="text" name="zipCode" maxlength="5" pattern="[0-9]{5}" required>
                <br>
                E-Mail Address:<input type="text" name="email" id="email" pattern="[^@@]+@@[^@@]+\.[a-zA-Z]{2,}" maxlength="40" required>
                <br>
                Notes: <textarea name="notes" id="notes" maxlength="500"></textarea>
                <br>
                <button type="submit">Save</button>
            </form>
            <button onclick="history.go(-1)">Cancel</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="/assets/javascripts/cascading-drop-down.js"></script>

</body>
</html>