@(message:String,employee:EmployeeModels.Employee)
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    @bootstrap.render
</head>
@navbar.render
<body>
<div class="container">
    <h1 class="display-4 text-center">Change Password</h1>
    <div class="row">
        <div class="col-2 text-center border-top border-right">
            @sidebar.render
        </div>
        <div class="col-10 border-top">
            <h2>@employee.getFirstName @employee.getLastName</h2>
            <form method="post">
                @CSRF.formField
                Current password:<input type="password" name="current"><br>
                New password:<input type="password" name="new"><br>
                Confirm new password:<input type="password" name="confirm"><br>
                <button type="submit">Save</button>
            </form>
            <button onclick="history.go(-1)">Cancel</button>
            @message
        </div>
    </div>
</div>

</body>
</html>