@(employeeTitles: List[EmployeeModels.EmployeeTitle],states:List[CustomerModels.CityState],
employee:EmployeeModels.Employee, cities:List[CustomerModels.Cities])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    @bootstrap.render
</head>
@navbar.render
<body>
<div class="container">
    <div class="row">
        <div class="col-2 text-center border-top border-right">
            @sidebar.render
        </div>
        <div class="col-10 border-top">
            <h2>@employee.getFirstName @employee.getLastName</h2>
            <form method="post">
                @CSRF.formField
                E-mail:<input type="text" name="email" maxlength="40" pattern="[^@@]+@@[^@@]+\.[a-zA-Z]{2,}" value="@employee.getEmail" required><br>
                Phone Number:<input type="text" name="phoneNumber" title="(xxx-xxx-xxxx)" pattern="^\d{3}-\d{3}-\d{4}$" value="@employee.getPhoneNumber" maxlength="12" required><br>
                Address: <input type="text" name="address" minlength="2" id="address" value="@employee.getAddress" maxlength="40" required>
                <br>
                City/State:
                <select name="stateId" class="cascadingDropDown" data-group="product-1" data-id="stateId" data-target="city"
                        data-url="../newCustomer/cities" data-replacement="container1" required>
                    <option value="">Select State</option>
                    @for(state <- states){
                    @if(state.getStateId==employee.getStateId){
                    <option selected="selected">@employee.getStateId</option>
                    }else{
                    <option>@state.getStateId</option>
                    }
                    }
                </select>
                <select name="city" class="cascadingDropDown" data-group="product-1" data-id="city"
                        data-replacement="container1" data-default-label="@employee.getCity" required>
                    <option selected="selected" value="@employee.getCity">@employee.getCity</option>
                    @for(city <-cities){
                    @if(employee.getStateId==city.getStateId){
                    <option value="@city.getCity">@city.getCity</option>
                    }
                    }

                </select>
                Zip-Code: <input type="text" name="zipCode" maxlength="5" value="@employee.getZipCode" pattern="[0-9]{5}" required>
                <br>
                Employee Title:
                <select name="employeeTitleId" required>
                    @for(employeeTitle <- employeeTitles){
                    @if(employeeTitle.getEmployeeTitleId==employee.getEmployeeTitleId){
                    <option value="@employee.getEmployeeTitleId" selected="selected">@employeeTitle.getEmployeeTitleName</option>
                    }else{
                    <option value="@employeeTitle.getEmployeeTitleId">@employeeTitle.getEmployeeTitleName</option>
                    }
                    }
                </select><br>
                <button type="submit">Save</button>
            </form>
            <button onclick="history.go(-1)">Cancel</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/javascripts/cascading-drop-down.js"></script>
</body>
</html>