@(customer:CustomerModels.Customer, statuses:List[CustomsModels.CustomStatusDetail], employees:List[EmployeeModels.Employee])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Custom Job</title>
    @bootstrap.render
</head>
<body>
@navbar.render
<div class="container">
    <h1 class="display-4 text-center">New Custom Job for: @customer.getFirstName @customer.getLastName</h1>
    <div class="row">
        <div class="col-2 border-right border-top text-center">
            @sidebar.render
        </div>
        <div class="col-10 border-top">
            <form method="post">
                @CSRF.formField
                <input type="hidden" name="customerId" value="@customer.getCustomerId">
                Item Description:<br><textarea name="itemDescription"></textarea><br>
                Envelope Number:<br><input type="text" name="envelopeNumber" maxlength="6"><br>
                Quote:<br><textarea name="quote"></textarea><br>
                Job Status:
                <select name="customStatusCode">
                    @for(status <- statuses){
                    <option value="@status.getCustomStatusCode">@status.getCustomStatusName</option>
                    }
                </select><br><br>
                Employee Username:<br>
                <select name="username">
                    @for(employee <- employees){
                    <option value="@employee.getEmployeeId">@employee.getUserName</option>
                    }
                </select>
                <button type="submit"> Start Custom Job</button>
            </form>
            <button onclick="history.go(-1)">Cancel</button>
        </div>
    </div>
</div>

</body>
</html>