@(custom:CustomsModels.CustomUpdate, employees: List[EmployeeModels.Employee], statuses: List[CustomsModels.CustomStatusDetail])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Custom</title>
    @bootstrap.render
</head>
@navbar.render
<body>
<div class="container">
    <h1 class="display-4 text-center">Update Custom</h1>
    <div class="row">
        <div class="col-2 text-center border-top border-right">
            @sidebar.render
        </div>
        <div class="col-10 border-top">
            <form method="post">
                @CSRF.formField
                <table class="table">
                    <th>Customer Name</th><th>Item Description</th><th>Job Started</th><th>Status</th>
                    <tr>
                        <td>@custom.getFirstName @custom.getLastName</td>
                        <td>@custom.getItemDescription</td>
                        <td>@custom.getJobStarted</td>
                        <td>
                            <select name="statusId" id="statusId" required>
                                @for(status <- statuses){
                                @if(custom.getCustomStatusName == status.getCustomStatusName){
                                <option value="@status.getCustomStatusCode"
                                        selected="selected">@status.getCustomStatusName</option>
                                } else {
                                <option value="@status.getCustomStatusCode" >@status.getCustomStatusName</option>
                                }
                                }
                            </select>
                        </td>
                    </tr>
                </table>
                <div id="complete" style="display: none">
                    Total Price:
                    <input type="text" id="totalprice" maxlength="10" name="totalprice"/>
                    <br>
                    Notify Customer?
                    <select name="notify" id="notify">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                Notes:<br>
                <textarea name="notes" id="notes" maxlength="500"></textarea>
                <br>
                Employee Username:<br>
                <select name="username" required>
                    @for(employee <- employees){
                    <option value="@employee.getEmployeeId">@employee.getUserName</option>
                    }
                </select>
                <button type="submit">Update Custom</button>
            </form>
            <button onclick="history.go(-1)">Cancel</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/javascripts/showonchangecustoms.js"></script>
</body>
</html>