<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Favorite Things</title>
</head>
<h1>Show me what you got</h1>
<form action="http://rickandmorty.wikia.com/wiki/Get_Schwifty">
    <input type="image" src="assets/images/cromulon.png" width="400">
</form>

<body>
<form method="post">
    @CSRF.formField
    Favorite food:
    <input type="text" name="food">
    <br>
    Favorite movie:
    <input type="text" name="movie">
    <br>
    Favorite language:
    <input type="text" name="language">
    <br>
    <input type="submit" value="Submit">

</form>

</body>
</html>