@(repairs:List[RepairModels.Repair])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    @bootstrap.render
</head>
<body>
@navbar.render
<h1 class="display-4 text-center">Dashboard</h1>
<div class="container">
    <div class="row">
        <div class="col-2 text-center border-right border-top">
            @sidebar.render
        </div>
        <div class="col-10">
            @for(repair <- repairs){
            @repair.getRepairsId: @repair.getDaysToComplete<br>
            }
        </div>
    </div>
</div>

</body>
</html>