<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    @bootstrap.render
</head>
<body>
<h1 class="display-4 text-center">Welcome</h1>
<div class="container text-center">
    <div class="dropdown">
        <button class="btn btn-primary dropdown" type="button" data-toggle="dropdown">Customers
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="newCustomer">New Customer</a></li>
            <li><a href="customers">Existing Customer</a></li>
        </ul>
    </div>
    <br>
    <a href="employeetools" class="btn btn-primary" role="button">Employees</a>
    <br>
    <br>
    <a href="manager" class="btn btn-primary" role="button">Manager Tools</a>
</div>

</body>
</html>