@(employeeTitles: List[EmployeeTitle])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Employee</title>
    @bootstrap.render
</head>
<body>
<form>
    @CSRF.formField
    User Name:<input type="text" name="userName" maxlength="20"><br>
    First Name:<input type="text" name="firstName" maxlength="20"><br>
    Last Name:<input type="text" name="lastName" maxlength="20"><br>
    E-mail:<input type="text" name="email" maxlength="40"><br>
    Phone Number:<input type="text" name="phoneNumber" maxlength="12"><br>
    Employee Title:
    <select>
        @for(employeeTitle <- employeeTitles){
         <option>@employeeTitle.getEmployeeTitleName</option>
        }
    </select><br>
    <input type="submit" class="btn btn-primary" value="Save">

</form>
</body>
</html>