@(customer:Customer, statuses:List[RepairStatusDetail], employees:List[Employee])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Repair</title>
    @bootstrap.render
</head>
<body>
<form method="post">
    @CSRF.formField
    New Repair for: @customer.getFirstName @customer.getLastName
    <input type="hidden" name="customerId" value="@customer.getCustomerId">
    <br>
    Item Description:<br><textarea name="itemDescription"></textarea><br>
    Work To Be Done:<br><textarea name="workNeeded"></textarea><br>
    Envelope Number:<br><input type="text" name="envelopeNumber" maxlength="6"><br>
    Price Estimate:<br><textarea name="priceEstimate"></textarea><br>
    Repair Status:
    <select name="repairStatusId">
    @for(status <- statuses){
    <option value="@status.getRepairStatusCode">@status.getRepairStatusName</option>
    }
    </select><br><br>
    Employee Username:<br>
    <select name="username">
        @for(employee <- employees){
        <option value="@employee.getEmployeeId">@employee.getUserName</option>
        }
    </select>
    <input type="submit" value="Start Repair">
</form>
</body>
</html>