<br>
<br>

<div class="dropdown">
    <button class="btn btn-primary dropdown" type="button" data-toggle="dropdown">Customers
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="../newCustomer">New Customer</a></li>
        <li><a href="../customers">Existing Customer</a></li>
    </ul>
</div>
<br>
<div class="dropdown">
    <button class="btn btn-primary dropdown" type="button" data-toggle="dropdown">Repairs
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="../newrepairs">New Repair</a></li>
        <li><a href="../updaterepairs">Update Repairs</a></li>
        <li><a href="../completedrepairs">Completed Repairs</a></li>
    </ul>
</div>
<br>
<div class="dropdown">
    <button class="btn btn-primary dropdown" type="button" data-toggle="dropdown">Customs
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="../newcustoms">New Custom</a></li>
        <li><a href="../customs">Update Customs</a></li>
        <li><a href="../completedcustoms">Completed Customs</a></li>
    </ul>
</div><br>
<div class="dropdown">
    <button class="btn btn-primary dropdown" type="button" data-toggle="dropdown">Manager Tools
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="../employees">Edit Employees</a></li>
        <li><a href="../newEmployee">New Employee</a></li>
    </ul>
</div><br>