@(customers: List[Customer])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Code School</title>
    @bootstrap.render
    <link rel="stylesheet" href="/assets/stylesheets/jquery.dataTables.min.css">
</head>
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">

<table id="example" class="display" style="width:100%">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
    </tr>
    </thead>
    <tbody>
    @for(customer <-customers){
    <tr>
        <td>@customer.getFirstName</td>
        <td>@customer.getLastName</td>
        <td>@customer.getAddress</td>
        <td>@customer.getCity</td>
        <td>@customer.getStateId</td>
    </tr>
    }
    </tbody>
</table>
            <button class="btn btn-primary" id="button" data-href="customer/1">Profile</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/javascripts/dataTables.js"></script>
</body>
</html>